<body>
{
 background-color:#81cdc6;
 width:100%;
font-family:times-new-roman;
 margin:0 auto;
}

.header{
   width:90%;
   margin: auto;
   height:120px;
   line-heoight:120px;
   background:#417aa8;
   color:#fff;
}

.jarak{
    padding:0 2pc;
}

.menu{ 
    backgroiund-color: #81cdc6;
    height: 50px;
    line-height: 50px;
    position:relative;
    width:90%;
   margin:0 auto;
   padding:0 auto;
}
